<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <!-- Meta tags that set up the page as a mobile page   -->
    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/m/images/iphone.png" />
    <meta name="format-detection" content="telephone=no" />
    <!--  A free Google web font embed because android does not have the browser safe fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Allerta">
    <!-- Style sheet for NOT smart devices like older web phones  -->
    <!-- <link href="/m/css/handheld.css" rel="stylesheet" type="text/css" media="handheld" /> -->
    <!-- Style sheet for smartphones and tablet devices -->
    <!-- <link rel="stylesheet" href="/m/css/ios.css" media="screen" /> -->
    <!-- Style sheet for lousy incompatible frustrating IE mobile -->
    <!--[if IEMobile]>
    <link rel="stylesheet" href="/m/css/iemobile.css" media="screen" />
    <![endif]-->
    <!-- Script that scrolls page up to the top -->
    <script type="text/javascript">
    window.scrollTo(0,1);
    </script>


	<title>Todo List</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/todo.css">
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</head>

<body>